* {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    color: #373B5A;
}

.active {
    color: #6C6DF5;
    font-weight: bold;
}

a {
    text-decoration: none;
}

h5 {
    color: #6C6DF5;
}

h1 {
    font-size: 56px;
    font-weight: bold;
}

p {
    font-size: 24px;
}

#left {
    float: left;
    margin-top: 15px;
    margin-left: 100px;
    color: #373B5A;
}

#right {
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    color: #373B5A;
}