*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
}

  nav{
    height: 70px;
    background: #6C6DF5;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
  }

  nav ul{
    float: right;
    margin-right: 50px;
  }

  nav ul li{
    display: inline-block;
    color: white;
  }
  
  nav ul li a{
    color: white;
    display: block;
    padding: 0 25px;
    line-height: 70px;
    font-size: 18px;
    background: #6C6DF5;
    transition: .5s;
  }

  nav ul li a:hover,nav ul li a.active{
    color: #373B5A;
    text-decoration: none;
  }

  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
  }

  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }

  nav ul ul li{
    width: 400px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
  }

  nav ul ul li a{
    line-height: 50px;
  }

  nav ul ul ul{
    border-top: none;
  }

  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }

  nav ul ul li a i{
    margin-left: 45px;
  }


