*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home */
.home{
    width: 100%;
    height: 100vh;
    background: #edf2fc;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-name{
    color: #6C6DF5;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #606163;
}
nav ul li a:hover{
    color: #6C6DF5;
}
.button{
    background: #6C6DF5;
    border-radius: 5px;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}
.button:hover{
    background: transparent;
    color: #6C6DF5;
    border: 1px solid #B3B7F6;
}
.home-info{
    margin-left: 8%;
    margin-top: 8%;
}
.home-info h1{
    font-size: 45px;
    color: #444242;
}
.home-info h1 span{
color: #6C6DF5;
}
.home-info p{
    color: #606163;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 95%;
    position: absolute;
    left: 50%;
    bottom: 10;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.social-media{
    margin-left: 8%;
    margin-top: 25px;
}
.social-media a{
    font-size: 22px;
    color: #606163;
    margin-right: 22px;
}
.social-media a:hover{
    color: #6C6DF5;
}


/* About Us */
.aboutme{
    width: 100%;
    height: 100vh;
    background: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.aboutme-info{
    float: right;
    margin-right: 10%;
    margin-top: 3%;
}
.aboutme-info h1{
    font-size: 80px;
    color: #444242;
}
.aboutme-info h1 span{
color: #6C6DF5;
}
.aboutme-info p{
    color: #606163;
    font-size: 20px;
    line-height: 35px;
    margin-top: 70px;
    margin-bottom: 30px;
}
/*.aboutme-img{
    width: 40%;
    height: 70%;
    position: absolute;
    bottom: 10;
    right: 100px;
}
.aboutme-img img{
    height: 95%;
    position: absolute;
    right: 90%;
    bottom: 10;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}*/


/* Get In Touch */
.getintouch{
    width: 100%;
    height: 100vh;
    background: #edf2fc;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.getintouch-info{
    margin-left: 8%;
    padding-top: 80px;
}
.getintouch-info h1{
    font-size: 80px;
    color: #444242;
}
.getintouch-info h1 span{
color: #6C6DF5;
}
.getintouch-info p{
    color: #606163;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.img-box{
    width: 40%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 95%;
    position: absolute;
    left: 40%;
    bottom: 10;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}


/* Registration */
.registration{
    width: 100%;
    height: 100vh;
    background: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.registration-info{
    float: right;
    margin-right: 10%;
    margin-top: 3%;
}
.registration-info h1{
    font-size: 80px;
    color: #444242;
}
.registration-info h1 span{
color: #6C6DF5;
}
.registration-info p{
    color: #606163;
    font-size: 20px;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.registration-container {
    width: 500px;
    clear: both;
}

.registration-container input {
    height: 30px;
    width: 80%;
    margin-top: 15px;
    clear: both;
}


/* Login */
.login{
    width: 100%;
    height: 100vh;
    background: #edf2fc;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.login-info{
    margin-left: 8%;
    padding-top: 80px;
}
.login-info h1{
    font-size: 80px;
    color: #444242;
}
.login-info h1 span{
color: #6C6DF5;
}
.login-info p{
    color: #606163;
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.login-container {
    width: 500px;
    clear: both;
}
.login-container input {
    height: 30px;
    width: 80%;
    margin-top: 15px;
    clear: both;
}
.img-box{
    width: 50%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 95%;
    position: absolute;
    left: 40%;
    bottom: 10;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}



/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B3B7F6; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6C6DF5; 
}

small {
    line-height: 0;
}