* {
   margin: 0;
   padding: 0;
   font-family: 'DM Sans', sans-serif;
}

section {
   padding-top: 105px;
   padding-bottom: 65px;
}

.title-sm {
   font-size: 18px;

}

.section-intro {
   text-align: center;
   margin-bottom: 60px;
}

.section-intro .hline {
   width: 120px;
   height: 2px;
   background-color: #fff500;
   margin: 16px auto 0 auto;
}

.button {
   background: #fff500;
   border-radius: 5px;
   padding: 10px 15px;
   font-weight: 500;
   text-decoration: none;
   color: #000;
   display: inline-block;
   border: 1px solid transparent;
   transition: all 0.4s ease;
}

.button:hover {
   background: transparent;
   color: #ffd60a;
   border: 1px solid #ffd60a;
   /*color: green;
   border: 1px solid green;*/
}

.icon {
   color: #fff500;
}

/* Navigation Bar */
.navbar {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

small {
   font-size: 12px;
   letter-spacing: 2px;
   font-weight: 700;
   text-transform: uppercase;
}

/* Call to Action Section */
#cta {
   background-color: #fff500;
   text-transform: uppercase;
}

.footer-bottom {
   padding-top: 20px;
   padding-bottom: 20px;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Scroll Bar */
 /* width */
 ::-webkit-scrollbar {
   width: 8px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #fff; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #ffee93;
   border-radius: 5px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #ffd60a;
 }