* {
   margin: 0;
   padding: 0;
   font-family: 'DM Sans', sans-serif;
}

section {
   padding-top: 105px;
   padding-bottom: 105px;
}

.title-sm {
   font-size: 18px;

}

.section-intro {
   text-align: center;
   margin-bottom: 60px;
}

.section-intro .hline {
   width: 120px;
   height: 2px;
   background-color: #fff500;
   margin: 16px auto 0 auto;
}

.button {
   background: #fff500;
   border-radius: 5px;
   padding: 10px 15px;
   font-weight: 500;
   text-decoration: none;
   color: #000;
   display: inline-block;
   border: 1px solid transparent;
   transition: all 0.4s ease;
}

.button:hover {
   background: transparent;
   color: #ffd60a;
   border: 1px solid #ffd60a;
   /*color: green;
   border: 1px solid green;*/
}

/* Navigation Bar */
.navbar {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
   font-size: 16px;
   margin-right: 10px;
}

.navbar .nav-link a:hover {
   text-decoration: underline;
   text-decoration-color: #fff500;
   text-decoration-thickness: 2px;
}

/* Home Section */
#home {
   background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../assets/townhall_1.jpg);
   min-height: 100vh;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: flex;
   align-items: center;
}

#home h1 {
   font-weight: 700;
   font-size: 70px;
   /*text-shadow: 2px 1px #ffd60a;*/
}

#home p {
   font-size: 26px;
   max-width: 700px;
   margin: 18px auto;
   /*text-shadow: 1px 1px #ffd60a;*/
}

#home button {
   margin-top: 40px;
}


/* Services Section */
.icon-box {
   width: 60px;
   height: 60px;
   background-color: #fff500;
   color: #000;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   flex: none;
}


/* Programs Section */
.programs .icon-box {
   width: 34px;
   height: 34px;
   border-radius: 100px;
   font-size: 24px;
}


/* Call to Action Section */
#cta {
   background-color: #fff500;
   text-transform: uppercase;
}


/* Contact Us */
#contact {
   width: 100%;
}

small {
   font-size: 12px;
   letter-spacing: 2px;
   font-weight: 700;
   text-transform: uppercase;
}


/* Footer Section */
.footer-top {
   padding-top: 60px;
   padding-bottom: 30px;
}

.footer-bottom {
   padding-top:30px;
   padding-bottom: 10px;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-links a {
   display: block;
   font-weight: 400;
   color: black;
   text-decoration: none;
}

footer .footer-links a:hover {
   text-decoration: underline;
   text-decoration-color: #fff500;
   text-decoration-thickness: 2px;
}


/* Scroll Bar */
 /* width */
 ::-webkit-scrollbar {
   width: 8px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #fff; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #ffee93;
   border-radius: 5px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #ffd60a;
 }