@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    width: 100%;
    height: 100vh;
    background: #edf2fc;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.name{
    color: #6C6DF5;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #606163;
}
nav ul li a:hover{
    color: #6C6DF5;
}
.btn{
    background: #6C6DF5;
    border-radius: 5px;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}
.btn:hover{
    background: transparent;
    color: #6C6DF5;
    border: 1px solid #B3B7F6;
}
.info{
    margin-left: 8%;
    margin-top: 10%;
}
.info h1{
    font-size: 40px;
    color: #444242;
}
.info h1 span{
   color: #6C6DF5;
}
.info p{
    color: #606163;
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 95%;
    position: absolute;
    left: 50%;
    bottom: 10;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
/*.img-box:hover .back-img{
    bottom: 40px;
}
.img-box:hover .man-img{
    left: 54%;
}*/
.social{
    margin-left: 8%;
    margin-top: 25px;
}
.social a{
    font-size: 22px;
    color: #606163;
    margin-right: 22px;
}
.social a:hover{
    color: #6C6DF5;
}
.about{
    width: 100%;
    height: 100vh;
    background: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.aboutinfo{
    float: right;
    margin-right: 10%;
    margin-top: 15%;
}
.aboutinfo h1{
    font-size: 40px;
    color: #444242;
}
.aboutinfo h1 span{
   color: #6C6DF5;
}
.aboutinfo p{
    color: #606163;
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.about-img-box{
    width: 45%;
    height: 80%;
    position: left top;
    margin-top: 20;
    bottom: 10;
    left: 100px;
}
.about-img-box img{
    height: 95%;
    position: left top;
    left: 50%;
    bottom: 10;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.contact{
    width: 100%;
    height: 100vh;
    background: #edf2fc;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.contact-info{
    margin-left: 8%;
    padding-top: 150px;
}
.contact-info h1{
    font-size: 40px;
    color: #444242;
}
.contact-info h1 span{
   color: #6C6DF5;
}
.contact-info p{
    color: #606163;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contact-img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.contact-img-box img{
    height: 95%;
    width: 75%;
    position: absolute;
    left: 50%;
    bottom: 10;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.registration{
    width: 100%;
    height: 100vh;
    background: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.registration-info{
    float: right;
    margin-right: 30%;
    margin-top: 8%;
}
.registration-info h1{
    font-size: 40px;
    color: #444242;
}
.registration-info h1 span{
   color: #6C6DF5;
}
.registration-info p{
    color: #606163;
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.registration-img-box{
    width: 45%;
    height: 80%;
    position: left top;
    margin-top: 20;
    bottom: 10;
    left: 100px;
}
.registration-img-box img{
    height: 95%;
    position: left top;
    left: 50%;
    bottom: 10;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.login{
    width: 100%;
    height: 100vh;
    background: #edf2fc;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.login-info{
    margin-left: 8%;
    padding-top: 150px;
}
.login-info h1{
    font-size: 40px;
    color: #444242;
}
.login-info h1 span{
   color: #6C6DF5;
}
.login-info p{
    color: #606163;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.login-img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.login-img-box img{
    height: 95%;
    width: 75%;
    position: absolute;
    left: 50%;
    bottom: 10;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B3B7F6; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6C6DF5; 
  }

small {
    line-height: 0;
}